*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.locked {
  overflow-y: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p,
a {
  font-size: 20px;
}

a,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

a,
a:visited,
button {
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

.color-2 {
  color: #fff;
}

.color-3 {
  color: #000;
}

section {
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  padding: 3% 0 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.section__header {
  display: block;
  font-family: "Caveat";
  font-weight: 700;
  font-size: calc(30px + 20 * (100vw - 799.99px) / 1000.01);
  position: relative;
  text-align: center;
  width: 375px;
  margin: 2em auto;
}

.section__header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(135px - 75 * (100vw - 375px) / 1505);
  width: calc(110px + 155 * (100vw - 375px) / 1505);
  height: calc(3px + 1 * (100vw - 799.99px) / 1000.01);
  background-color: #f73c3c;
}

footer {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@media (max-width: 1129.99px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 699.99px) {
  .container {
    max-width: 100%;
  }
}
.intro {
  background: url(../Images/Intro-bcg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 100dvh;
  padding-top: 1%;
}

.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 8, 8, 0.5);
  z-index: -5;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 1%;
}

.logo {
  max-width: calc(40px + 40 * (100vw - 599.99px) / 1280.01);
}

/* BURGER*/
.burger {
  display: none;
}

.burger__icon {
  cursor: pointer;
  height: 25px;
  margin-top: 2px;
  position: relative;
  z-index: 30;
}

.burger__inner {
  display: block;
  width: 30px;
  height: 3px;
  position: relative;
  top: 8px;
  background-color: #fff;
  font-size: 0;
}

.burger__inner::before, .burger__inner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: transform 0.1s linear;
}

.burger__inner::before {
  top: -8px;
}

.burger__inner::after {
  bottom: -8px;
}

.burger__active .burger__inner {
  background-color: transparent;
}

.burger__active .burger__inner::before {
  top: 50%;
  transform: rotate(-45deg);
}

.burger__active .burger__inner::after {
  top: 50%;
  transform: rotate(45deg);
}

.burger__nav {
  display: block;
  width: 100%;
  height: 60vh;
  text-align: left;
  padding: 20px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  transform: translateX(-100%);
  transition: all 0.2s linear;
}

.burger__visible {
  display: block;
  transform: translateX(0);
  transition: transform 0.2s linear;
}

.burger__title {
  font-size: calc(27px + 3 * (100vw - 375px) / 224.99);
  font-family: "Cormorant Garamond";
  margin: 2em 1em;
}

.burger__link {
  display: block;
  margin: 40px;
  font-size: 20px;
  text-transform: uppercase;
}

.burger__visible .burger__link {
  display: block;
}

.burger__link:first-of-type {
  margin-top: 60px;
}

/* NAVIGATION*/
.nav {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav__link {
  font-family: "Ysabeau Infant";
  font-size: calc(12px + 5 * (100vw - 599.99px) / 1280.01);
  line-height: 1em;
  text-transform: uppercase;
  transition: all, 0.1s linear;
  word-spacing: 0.3em;
}

.header__phone {
  width: calc(100px + 90 * (100vw - 375px) / 1505);
  border: #fff 2px solid;
  border-radius: 15px;
  transition: all 0.1s linear;
  text-align: center;
}

.link-phone {
  font-family: "Ysabeau Infant";
  font-size: calc(10px + 12 * (100vw - 375px) / 1505);
  line-height: 2em;
}

.link-phone_hidden {
  font-family: "Ysabeau Infant";
  font-size: calc(10px + 7 * (100vw - 375px) / 1505);
  color: rgba(255, 212, 151, 0.9);
  line-height: 2em;
  display: none;
}

.nav__link:hover {
  color: rgba(255, 212, 151, 0.9);
  border-bottom: rgba(255, 212, 151, 0.9) 3px solid;
}

.header__phone:hover {
  border-color: rgba(255, 212, 151, 0.9);
}

.header__phone:hover .link-phone {
  display: none;
}

.header__phone:hover .link-phone_hidden {
  display: block;
}

/* INTRO CONTENT*/
.intro__content {
  text-align: center;
}

.intro__title {
  font-family: "Cormorant Garamond";
  font-size: calc(40px + 50 * (100vw - 375px) / 1505);
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.2em;
  margin-top: 1.5em;
  text-shadow: 1px 0 2px #fafafa;
}

.intro__subTitle {
  font-family: "EB Garamond";
  font-size: calc(25px + 18 * (100vw - 375px) / 1505);
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.1em;
  margin: 0.5em;
}

.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.intro__block {
  display: block;
  width: 30%;
  margin-top: 7em;
  transition: transform 0.3s linear;
}

.intro__block_1, .intro__block_3 {
  transform: translateX(-250%);
}

.intro__block_2 {
  transform: translateX(-350%);
}

.intro__block_3 {
  transform: translateX(-450%);
}

.intro__block_active {
  transform: translateX(0);
  position: relative;
}

.intro__block_active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 33.3333%;
  width: 33.3333%;
  height: 3px;
  background-color: rgba(255, 212, 151, 0.9);
}

.block__header {
  font-family: "Ysabeau Infant";
  font-size: calc(18px + 18 * (100vw - 375px) / 1505);
  line-height: 1em;
  margin: 0.5em 15px 0.5em;
  color: rgba(255, 212, 151, 0.9);
}

.block__text {
  font-family: "Ysabeau Infant";
  font-size: calc(14px + 14 * (100vw - 375px) / 1505);
  line-height: 1em;
  margin: 0.5em 15px 1em;
  color: rgba(255, 212, 151, 0.9);
}

@media (max-width: 599.99px) {
  .header {
    padding: 20px 5px;
  }
  .nav {
    display: none;
  }
  .logo {
    display: none;
  }
  .burger {
    display: block;
  }
  .intro__block {
    width: 100%;
    transform: translateY(500%);
    margin: 10% 30px 0;
  }
  .intro__block_active {
    transform: translateY(0);
  }
}
@media (max-height: 599.99px) {
  .intro__block {
    display: none;
  }
}
.about__header {
  margin: 0;
  text-align: left;
}
.about__header::after {
  left: 0;
}
.about__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6% 0;
}
.about__content {
  width: 42%;
  padding: 0 15px;
}
.about__text {
  font-family: "Caveat";
  font-size: calc(20px + 10 * (100vw - 375.99px) / 1504.01);
  margin-top: 20px;
}
.about__photo {
  width: 55%;
  height: 900px;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-pagination-progressbar-fill {
  background-color: rgba(255, 212, 151, 0.9) !important;
}

.about-arrow_left, .about-arrow_right {
  color: rgba(255, 212, 151, 0.9) !important;
}

.about-pagination {
  color: rgba(255, 212, 151, 0.9) !important;
}

@media (max-width: 1454.99px) {
  .about__inner {
    padding: 0;
  }
  .about__header {
    margin: 0 auto;
  }
  .about__content {
    width: 100%;
    margin: 20px 0;
  }
  .about__photo {
    width: calc(375px + 265 * (100vw - 374.99px) / 1080);
    margin: 20px 0;
  }
}
@media (max-width: 599.99px) {
  .about__photo {
    margin: 20px 0;
  }
}
.services {
  background-color: #fdfaf3;
  padding-bottom: 3em;
  height: auto;
}

.service-content {
  max-width: 800px;
  width: 80%;
  margin: 20px auto;
}

.service-item {
  border: 1px solid #000;
  transition: background-color 0.2s ease-out;
}

.service-title {
  padding: 0.7em 0;
  display: block;
  cursor: pointer;
  position: relative;
  font-family: "Cormorant Garamond";
  font-size: calc(16px + 7 * (100vw - 375px) / 1505);
  text-align: center;
}

.service-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  transform: translateY(-50%);
}

.service-item:hover {
  background-color: rgba(255, 212, 151, 0.9);
}

.service-input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
}

.service-text {
  display: none;
  text-align: center;
  padding: 15px 10px;
  background-color: rgba(255, 241, 220, 0.9019607843);
}

.service-input:checked ~ .service-text {
  display: block;
}

.service-input:checked ~ .service-title {
  background-color: rgba(255, 212, 151, 0.9);
}

.service-input:checked ~ .service-title::after {
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #000 transparent;
}

.tab__text {
  margin-top: 0.5em;
  font-size: calc(16px + 4 * (100vw - 375px) / 1505);
}

.team {
  margin: 10% 0;
  height: auto;
  padding-bottom: 5%;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 3%;
}

.team-member {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 7%;
}

.member-photo img {
  aspect-ratio: 6/4;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.member-header {
  margin: 0.5em auto;
  font-family: "Cormorant Garamond";
  font-size: calc(18px + 18 * (100vw - 375px) / 1505);
  line-height: 1em;
  font-weight: 400;
}

.member-subheader {
  font-family: "Cormorant Garamond";
  font-size: calc(14px + 14 * (100vw - 375px) / 1505);
  font-weight: 600;
}

.member-text {
  font-family: "Cormorant Garamond";
  font-size: calc(12px + 10 * (100vw - 375px) / 1505);
  margin: 6% 0;
}

.contacts {
  background-color: #fdfaf3;
}

.contacts-container {
  text-align: center;
}

.contacts__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__text {
  text-align: center;
  width: 40%;
  padding: 2em 0;
  text-wrap: balance;
}

.contacts__text p {
  font-family: "Ysabeau Infant";
  padding: 0 15px;
}

.contacts__map {
  width: 60%;
}

.contacts-suptitle {
  margin: 10% auto;
  padding: 0 15px;
  font-family: "EB Garamond";
  font-size: calc(25px + 18 * (100vw - 375px) / 1505);
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.1em;
}

@media (max-width: 799.99px) {
  .contacts__text, .contacts__map {
    width: 100%;
    padding-top: 0;
  }
}
.footer {
  background-color: #000;
  padding: 20px;
}
.footer__container {
  width: 90%;
  margin: 0 auto;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__block {
  flex: 0 1 25%;
}

.footer__block h5 {
  font-size: 18px;
  font-family: "EB Garamond";
  font-weight: 500;
}

.footer__block p {
  font-size: 15px;
  font-family: "EB Garamond";
  font-weight: 500;
  color: #fff;
}

.footer__author {
  flex-grow: 0;
  flex-basis: 20%;
  align-self: flex-end;
  text-align: right;
}

.footer__author p, .footer__author a {
  font-size: 12px;
  font-family: "EB Garamond";
  font-weight: 400;
  line-height: 0.6em;
  color: #d4d3d3;
}

@media (max-width: 799.99px) {
  .footer__block {
    text-align: center;
    flex: 1 1 100%;
    padding-bottom: 20px;
  }
}