*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

._locked {
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p,
a {
  font-size: 20px;
}

a,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

a,
a:visited,
button {
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.white {
  color: #fff;
}

.section__header {
  font-family: "Caveat";
  font-weight: 700;
  font-size: calc(30px + 20 * (100vw - 799.99px) / 1000.01);
  position: relative;
}

.section__header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(154px + 100 * (100vw - 799.99px) / 1000.01);
  height: calc(3px + 1 * (100vw - 799.99px) / 1000.01);
  background-color: #f73c3c;
}

@media (max-width: 1129.99px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 699.99px) {
  .container {
    max-width: 100%;
  }
}
.intro {
  background: url(../Images/Intro-bcg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 100%;
  padding-top: 1%;
}

.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 8, 8, 0.5);
  z-index: -5;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo {
  max-width: calc(40px + 40 * (100vw - 599.99px) / 1280.01);
}

/* BURGER*/
.burger {
  display: none;
}

.burger__icon {
  cursor: pointer;
  height: 25px;
  margin-top: 2px;
  position: relative;
  z-index: 30;
}

.burger__inner {
  display: block;
  width: 30px;
  height: 3px;
  position: relative;
  top: 8px;
  background-color: #fff;
  font-size: 0;
}

.burger__inner::before, .burger__inner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: transform 0.1s linear;
}

.burger__inner::before {
  top: -8px;
}

.burger__inner::after {
  bottom: -8px;
}

.burger__active .burger__inner {
  background-color: transparent;
}

.burger__active .burger__inner::before {
  top: 50%;
  transform: rotate(-45deg);
}

.burger__active .burger__inner::after {
  top: 50%;
  transform: rotate(45deg);
}

.burger__nav {
  display: block;
  width: 100%;
  height: 60vh;
  text-align: left;
  padding: 20px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  transform: translateX(-100%);
  transition: all 0.2s linear;
}

.burger__visible {
  display: block;
  transform: translateX(0);
  transition: transform 0.2s linear;
}

.burger__title {
  font-size: calc(27px + 3 * (100vw - 375px) / 224.99);
  font-family: "Cormorant Garamond";
  margin: 2em 1em;
}

.burger__link {
  display: block;
  margin: 40px;
  font-size: 20px;
  text-transform: uppercase;
}

.burger__visible .burger__link {
  display: block;
}

.burger__link:first-of-type {
  margin-top: 60px;
}

/* NAVIGATION*/
.nav {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav__link {
  font-size: calc(12px + 5 * (100vw - 599.99px) / 1280.01);
  line-height: 1em;
  text-transform: uppercase;
  transition: all, 0.1s linear;
  word-spacing: 0.3em;
}

.header__phone {
  width: calc(100px + 90 * (100vw - 599.99px) / 1280.01);
  border: #fff 2px solid;
  border-radius: 15px;
  transition: all 0.1s linear;
  text-align: center;
  vertical-align: middle;
}

.link-phone {
  font-size: calc(12px + 5 * (100vw - 599.99px) / 1280.01);
  line-height: 25px;
  transition: all 0.1s linear;
}

.link-phone_hidden {
  font-size: calc(12px + 5 * (100vw - 599.99px) / 1280.01);
  line-height: 25px;
  color: rgba(255, 212, 151, 0.9);
  display: none;
}

.nav__link:hover {
  color: rgba(255, 212, 151, 0.9);
  border-bottom: rgba(255, 212, 151, 0.9) 3px solid;
}

.header__phone:hover {
  border-color: rgba(255, 212, 151, 0.9);
}

.header__phone:hover .link-phone {
  display: none;
}

.header__phone:hover .link-phone_hidden {
  display: block;
}

/* INTRO CONTENT*/
.intro__content {
  text-align: center;
}

.intro__title {
  font-family: "Cormorant Garamond";
  font-size: calc(40px + 50 * (100vw - 375px) / 1505);
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.2em;
  margin-top: 1.5em;
  text-shadow: 1px 0 2px #fafafa;
}

.intro__subTitle {
  font-family: "EB Garamond";
  font-size: calc(25px + 18 * (100vw - 375px) / 1505);
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.1em;
  margin: 0.5em;
}

.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.intro__block {
  display: block;
  width: 30%;
  margin-top: 7em;
  transition: transform 0.3s linear;
}

.intro__block_1, .intro__block_3 {
  transform: translateX(-250%);
}

.intro__block_2 {
  transform: translateX(-350%);
}

.intro__block_3 {
  transform: translateX(-450%);
}

.intro__block_active {
  transform: translateX(0);
  position: relative;
}

.intro__block_active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 33.3333%;
  width: 33.3333%;
  height: 3px;
  background-color: rgba(255, 212, 151, 0.9);
}

.block__header {
  font-family: "Ysabeau Infant";
  font-size: calc(18px + 18 * (100vw - 375px) / 1505);
  line-height: 1em;
  margin: 0.5em 15px 0.5em;
  color: rgba(255, 212, 151, 0.9);
}

.block__text {
  font-family: "Ysabeau Infant";
  font-size: calc(14px + 14 * (100vw - 375px) / 1505);
  line-height: 1em;
  margin: 0.5em 15px 1em;
  color: rgba(255, 212, 151, 0.9);
}

@media (max-width: 599.99px) {
  .header {
    padding: 20px 30px;
  }
  .nav {
    display: none;
  }
  .logo {
    display: none;
  }
  .burger {
    display: block;
  }
  .intro__block {
    width: 100%;
    transform: translateY(500%);
    margin: 10% 30px 0;
  }
  .intro__block_active {
    transform: translateY(0);
  }
}
@media (max-height: 599.99px) {
  .intro__block {
    display: none;
  }
}
.about {
  margin: 10% 0;
  height: auto;
}
.about__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about__content {
  width: 40%;
}
.about__text {
  font-family: "Caveat";
  font-size: calc(16px + 14 * (100vw - 799.99px) / 1000.01);
  margin-top: 20px;
  padding-right: calc(0px + 34 * (100vw - 799.99px) / 1000.01);
}
.about__photo {
  width: 50%;
  height: 900px;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-pagination-progressbar-fill {
  background-color: rgba(255, 212, 151, 0.9) !important;
}

.about-arrow_left, .about-arrow_right {
  color: rgba(255, 212, 151, 0.9) !important;
}

.about-pagination {
  color: rgba(255, 212, 151, 0.9) !important;
}

@media (max-width: 799.99px) {
  .about__content, .about__photo {
    width: 100%;
    margin: 20px !important;
  }
}
@media (max-width: 599.99px) {
  .about__photo {
    margin: 20px 0 !important;
  }
}
.services {
  background-color: #fdfaf3;
}

.services__header {
  padding-top: 2em;
  text-align: center;
  width: 375px;
  margin: 0 auto 2em;
}

.services__header::after {
  width: calc(110px + 155 * (100vw - 375px) / 1505);
  left: calc(135px - 75 * (100vw - 375px) / 1505);
}

.tabs__items {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 40px);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 20px;
}

.tab__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 50px;
  padding: 0 5px;
  font-size: 16px;
  font-family: "Ysabeau Infant";
  font-weight: 600;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.tab__link_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.tab__link_2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.tab__link_3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.tab__link_4 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}

.tab__link_5 {
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
}

.tab__link_6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.tab__link_7 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.tab__link_8 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.tab__link_9 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}

.tab__content {
  display: none;
  position: relative;
  height: 70vh;
  background-color: #fff4e9;
  text-align: center;
  padding: 2em 20%;
}

.tab__content:target {
  display: block;
}

.tab__link_active {
  background-color: rgba(255, 212, 151, 0.9);
}

.tab__text {
  margin: 1em 0;
}