.about {
    &__header{
        margin: 0;
        text-align: left;
    }
    &__header::after{
        left: 0;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 6% 0;
    }
    &__content{
        width: 40%;
        padding: 0 15px;
    }
    &__text{
        font-family: $Font-family_3;
        font-size: calc(20px + 12 * ((100vw - 375px) / (1800 - 375)));
        margin-top: 20px;
        }
    &__photo {
        width: 55%;
        height: 900px;
        overflow: hidden;
        object-fit: contain;
    }
}
.swiper-pagination-progressbar-fill {
    background-color: $Color_1 !important;
}
.about-arrow_left,  .about-arrow_right{
    color: $Color_1 !important;
}
.about-pagination{
    color: $Color_1 !important;
}

@media(max-width: 799.99px){
    .about__content, .about__photo{
        width: 100%;
        margin: 20px 0;
    }
}
@media(max-width: 599.99px){
    .about__photo{
        margin: 20px 0;
    }
}
