.about {
    margin: 10% 0;
    height: auto;
    &__header{
        padding: 0;
        margin: 0;
        text-align: left;
    }
    &__header::after{
        left: 0;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__content{
        width: 40%;
    }
    &__text{
        font-family: $Font-family_3;
        font-size: calc(16px + 14 * ((100vw - 799.99px) / (1800 - 799.99)));
        margin-top: 20px;
        padding-right: calc(0px + 34 * ((100vw - 799.99px) / (1800 - 799.99)));
        }
    &__photo {
        width: 50%;
        height: 900px;
        overflow: hidden;
        object-fit: contain;
    }
}

.swiper-pagination-progressbar-fill {
    background-color: $Color_1 !important;
}
.about-arrow_left,  .about-arrow_right{
    color: $Color_1 !important;
}
.about-pagination{
    color: $Color_1 !important;
}

@media(max-width: 799.99px){
    .about__content, .about__photo{
        width: 100%;
        margin: 20px !important;
    }
}
@media(max-width: 599.99px){
    .about__photo{
        margin: 20px 0 !important;
    }
}