*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    width: 100%;
    height: 100%;
}
._locked{
    overflow: hidden;
}
img {
    width: 100%;
    height: auto;
    display: block;
}

p,
a {
    font-size: 20px;
}

a,
input,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
}

a,
a:visited,
button {
    cursor: pointer;
    text-decoration: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}
.white{
    color: $Color_2;
}
.section__header{
    font-family: $Font-family_3;
    font-weight: 700;
    font-size: calc(30px + 20 * ((100vw - 799.99px) / (1800 - 799.99)));
    position: relative;
}
.section__header:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(154px + 100 * ((100vw - 799.99px) / (1800 - 799.99)));
    height: calc(3px + 1 * ((100vw - 799.99px) / (1800 - 799.99)));
    background-color: #f73c3c;
    }
@media(max-width: 1129.99px){
    .container{
        max-width: 90%;
    }
}
@media(max-width: 699.99px) {
    .container {
        max-width: 100%;
    }
}