.contacts{
    height: 100vh;
}
.contacts__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacts__text{
    width: 40%;
    padding: 0 2em 2em 0;
}
.contacts__map {
    width: 60%;
}
@media(max-width: 799.99px){
    .contacts__text, .contacts__map{
        width: 100%;
    }
}