.intro {
    background: url(../Images/Intro-bcg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 100dvh;
    padding-top: 1%;
}
.intro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 8, 8, .5);
    z-index: -5;
}
.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 1%;
}
.logo {
    max-width: calc(40px + 40 * ((100vw - 599.99px) / (1880 - 599.99)));
}
/* BURGER*/ 

.burger {
    display: none;
}
.burger__icon {
    cursor: pointer;
    height: 25px;
    margin-top: 2px;
    position: relative;
    z-index: 30;
}

.burger__inner {
    display: block;
    width: 30px;
    height: 3px;
    position: relative;
    top: 8px;
    background-color: $Color_2;
    font-size: 0;
}
.burger__inner::before, .burger__inner::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $Color_2;
    transition: transform .1s linear;
}
.burger__inner::before{
    top: -8px;
}
.burger__inner::after{
    bottom: -8px;
}
.burger__active .burger__inner{
    background-color:  transparent;
}
.burger__active .burger__inner::before{
    top: 50%;
    transform: rotate(-45deg);
}
.burger__active .burger__inner::after{
    top: 50%;
    transform: rotate(45deg);
}
.burger__nav{
    display: block;
    width: 100%;
    height: 60vh;
    text-align: left;
    padding: 20px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    transform: translateX(-100%);
    transition: all .2s linear;
}
.burger__visible{
    display: block;
    transform: translateX(0);
    transition: transform .2s linear;
}
.burger__title{
    font-size: calc(27px + 3 * ((100vw - 375px) / (599.99 - 375)));
    font-family: $Font-family_2;
    margin: 2em 1em;
}
.burger__link{
    display: block;
    margin: 40px;
    font-size: 20px;
    text-transform: uppercase;
}
.burger__visible .burger__link{
    display: block;
}
.burger__link:first-of-type{
    margin-top: 60px;
}
/* NAVIGATION*/

.nav {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.nav__link {
    font-family: $Font-family_1;
    font-size: calc(12px + 5 * ((100vw - 599.99px) / (1880 - 599.99)));
    line-height: 1em;
    text-transform: uppercase;
    transition: all, .1s linear;
    word-spacing: .3em;
}
.header__phone {
    width: calc(100px + 90 * ((100vw - 375px) / (1880 - 375)));
    border: $Color_2 2px solid;
    border-radius: 15px;
    transition: all .1s linear;
    text-align: center;
}
.link-phone {
    font-family: $Font-family_1;
    font-size: calc(10px + 12 * ((100vw - 375px) / (1880 - 375)));
    line-height: 2em;

}
.link-phone_hidden {
    font-family: $Font-family_1;
    font-size: calc(10px + 7 * ((100vw - 375px) / (1880 - 375)));
    color: $Color_1;
    line-height: 2em;
    display: none;
}
.nav__link:hover {
    color: $Color_1;
    border-bottom: $Color_1 3px solid;
}
.header__phone:hover {
    border-color: $Color_1;
}
.header__phone:hover .link-phone {
    display: none;
}
.header__phone:hover .link-phone_hidden {
    display: block;
}

/* INTRO CONTENT*/ 

.intro__content {
    text-align: center;
}
.intro__title {
    font-family: $Font-family_2;
    font-size: calc(40px + 50 * ((100vw - 375px) / (1880 - 375)));
    font-weight: 700;
    font-style: italic;
    letter-spacing: .2em;
    margin-top: 1.5em;
    text-shadow: 1px 0 2px #fafafa;
}
.intro__subTitle {
    font-family: $Font-family_4;
    font-size: calc(25px + 18 * ((100vw - 375px) / (1880 - 375)));
    font-weight: 400;
    font-style: italic;
    letter-spacing: .1em;
    margin: .5em;
}
.block-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.intro__block{
    display: block;
    width: 30%;
    margin-top: 7em;
    transition: transform .3s linear;
}
.intro__block_1, .intro__block_3{
    transform: translateX(-250%);

}
.intro__block_2 {
    transform: translateX(-350%);
}
.intro__block_3 {
    transform: translateX(-450%);
}
.intro__block_active {
    transform: translateX(0);
    position: relative;
}
.intro__block_active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 33.3333%;
    width: 33.3333%;
    height: 3px;
    background-color: $Color_1;
}
.block__header {
    font-family: $Font-family_1;
    font-size: calc(18px + 18 * ((100vw - 375px) / (1880 - 375)));
    line-height: 1em;
    margin: .5em 15px .5em;
    color: $Color_1;
}
.block__text {
    font-family: $Font-family_1;
    font-size: calc(14px + 14 * ((100vw - 375px) / (1880 - 375)));
    line-height: 1em;
    margin: .5em 15px 1em;
    color: $Color_1;
}
@media(max-width: 599.99px){
    .header{
        padding: 20px 5px;
    }
    .nav{
        display: none;
    }
    .logo{
        display: none;
    }
    .burger{
        display: block;
    }
    .intro__block{
        width: 100%;
        transform: translateY(500%);
        margin: 10% 30px 0;
    }
    .intro__block_active {
    transform: translateY(0);
}
}
@media(max-height: 599.99px){
    .intro__block{
        display: none;
    }
}