.services{
    background-color: #fdfaf3;
}
.services__header{
    padding-top: 2em;
    text-align: center;
    width: 375px;
    margin: 0 auto 2em;
}
.services__header::after{
    width: calc(110px + 155 * ((100vw - 375px) / (1880 - 375)));
    left: calc(135px - 75 * ((100vw - 375px) / (1880 - 375)));
}
.tabs__items{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 40px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 20px;
}
.tab__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 50px;
    padding: 0 5px;
    font-size: 16px;
    font-family: $Font-family_1;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
}
.tab__link_1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.tab__link_2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.tab__link_3 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.tab__link_4 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}
.tab__link_5 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}
.tab__link_6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.tab__link_7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.tab__link_8 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.tab__link_9 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}
.tab__content{
    display: none;
    position: relative;
    height: 70vh;
    background-color: #fff4e9;
    text-align: center;
    padding: 2em 20%;
}
.tab__content:target{
    display: block;
}
.tab__link_active{
    background-color: $Color_1;
}
.tab__text{
    margin: 1em 0;
}