.services{
    background-color: #fdfaf3;
    padding-bottom: 3em;
    height: auto;
}
.service-content{
    max-width: 800px;
    margin: 20px auto;
}
.service-item{
    border: 1px solid #000;
    transition: background-color .2s ease-out;
}
.service-title{
    padding: .7em 0;
    display: block;
    cursor: pointer;
    position: relative;
    font-family: $Font-family_2;
    font-size: 23px;
    text-align: center;
}
.service-title::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    transform: translateY(-50%);
}
.service-item:hover{
    background-color: $Color_1;
}
.service-input{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.service-text{
    display: none;
    text-align: center;
    padding: 15px 10px;
    background-color: #fff1dce6;
}
.service-input:checked ~ .service-text{
    display: block;
}
.service-input:checked~.service-title{
    background-color: $Color_1;
}

.service-input:checked ~ .service-title::after{
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #000 transparent;
}
.tab__text{
    margin-top: .5em;
}

