.team{
    padding-bottom: 5%;
    height: auto;
}
.team__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 3%;
}
.team-member{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 7%;
    text-align: center;
}
.member-photo img{
    aspect-ratio: 6 / 4;
    object-fit: cover;
    overflow: hidden;
}
.member-header{
    margin: .5em auto;
    font-family: $Font-family_2;
    font-size: calc(18px + 18 * ((100vw - 375px) / (1880 - 375)));
    line-height: 1em;
    font-weight: 400;
}
.member-subheader{
    font-family: $Font-family_2;
    font-size: calc(14px + 14 * ((100vw - 375px) / (1880 - 375)));
    font-weight: 600;
}
.member-text{
    font-family: $Font-family_2;
    font-size: calc(16px + 10 * ((100vw - 375px) / (1880 - 375)));
    margin: 6% 0;
}

@media(width <=700px){
    .team-member{
        width: 70%;
    }
}
