$Color_1: rgba(255, 212, 151, 0.9);
$Color_2: #fff;
$Color_3: #000;
$Color_4: #5c4b2b;
$Font-family_1: "Ysabeau Infant";
$Font-family_2: "Cormorant Garamond";
$Font-family_3: "Caveat";
$Font-family_4: "EB Garamond";
@import "_basicStyles";
@import "_intro";
@import "_about";
@import "_services";
@import "_team";
@import "_contacts";
@import "_footer";