$Color_1: rgba(255, 212, 151, 0.9);
$Color_2: #fff;
$Font-family_1: "Ysabeau Infant";
$Font-family_2: "Cormorant Garamond";
$Font-family_3: "Caveat";
@import "_basicStyles";
@import "_intro";
@import "_about";
@import "_services";